<body>
    <header>
        <nav>
            <p>Best Books!</p>
            <div class = "hamburger-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </nav>
    </header>
    <div id = "menu">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/searches/new"><li>Search</li></a>
        </ul>
    </div>