html, body{
    height: 100%;
}
body{
    display:flex;
    flex-direction: column;
    position: relative;
}
h1{
    font-size:5em;
    text-align: center;
}
h3{
    font-size:1em;
    font-weight:bold;
    overflow: hidden;
}
h4{
    font-size:1em;
}

header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    height:7%;
    background-color: black;
}
#mainSearch{
    /* height:93vh; */
}
main{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #9b9b9b;
    position: relative;
}
