.hamburger-menu{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.hamburger-menu>div {
    width: 1em;
    height: 0.125em;
    background-color: white;
    margin:0.1em;
    border-radius:2em;
  }